<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Incidencias</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static "inventario/css/style.css" %}" media="screen" />
  <link rel="stylesheet" type="text/css" href="{% static "inventario/css/bootstrap.min.css" %}" media="screen" />
  <link rel="stylesheet" type="text/css" href="{% static "inventario/css/bootstrap-theme.min.css" %}" media="screen" />
  <script type="text/javascript" src="{% static "inventario/js/jquery.min.js" %}"></script>
  <script type="text/javascript" src="{% static "inventario/js/bootstrap.min.js" %}"></script>
  <script type="text/javascript" src="{% static "inventario/js/scripts.js" %}"></script>
</head>
<body>
  <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center">
				Hoja de vida equipo n°X
			</h1>
			<dl class="dl-horizontal">
				<dt>
					Estado:
				</dt>
				<dd>
					Reparacion-ok-algo
				</dd>
				<dt>
					Ubicacion:
				</dt>
				<dd>
					Sala X- Lab X- algo.
				</dd>
				<dt>
					Responsable:
				</dt>
				<dd>
					Sebastian Berrios
				</dd>


			</dl>
		</div>
	</div>
  
</div>


</body>
</html>
